## Method

1. Frame the problem and look at the big picture.
2. Get the data.
3. Explore the data to gain insights.
4. Prepare the data to better expose the underlying data patterns to Machine      Learning algorithms.
5. Explore many different models and shortlist the best ones.
6. Fine-tune your models and combine them into a great solution.
7. Present your solution.
8. Launch, monitor, and maintain your system.

## All imports

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import seaborn as sns

from sklearn.datasets import fetch_california_housing
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_validate
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Lasso
from sklearn.ensemble import RandomForestRegressor

In [2]:
# Set the path to housing csv file
housing = pd.read_csv(r'housing.csv')

In [3]:
def display_confusion_matrix(y_test, y_pred):
    cm = confusion_matrix(y_test, y_pred)
    ConfusionMatrixDisplay(cm).plot()

#### Storing the data in the way we want it

In [4]:
housing_clean = housing[housing["median_house_value"] <= 500000]
housing_clean.dropna(inplace=True)
housing_clean

C:\Users\Amand\AppData\Local\Temp\ipykernel_15996\800146298.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  housing_clean.dropna(inplace=True)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [9]:
# With dummy varible convert column 'ocean_proximity' into float64 values.
ocean_proximity_matrix = pd.get_dummies(pd.Series(housing["ocean_proximity"]), dtype=float)
ocean_proximity_matrix

       <1H OCEAN  INLAND  ISLAND  NEAR BAY  NEAR OCEAN
0            0.0     0.0     0.0       1.0         0.0
1            0.0     0.0     0.0       1.0         0.0
2            0.0     0.0     0.0       1.0         0.0
3            0.0     0.0     0.0       1.0         0.0
4            0.0     0.0     0.0       1.0         0.0
...          ...     ...     ...       ...         ...
20635        0.0     1.0     0.0       0.0         0.0
20636        0.0     1.0     0.0       0.0         0.0
20637        0.0     1.0     0.0       0.0         0.0
20638        0.0     1.0     0.0       0.0         0.0
20639        0.0     1.0     0.0       0.0         0.0

[20640 rows x 5 columns]

In [10]:
# Remove cloumn 'ocean_proximity' with object values and join the new matrix where 'ocean_proximity'
# has been converted to float46-values thanks to get_dummies() function in pandas.
housing_modified = housing_clean.copy()
housing_modified = housing_modified.drop('ocean_proximity', axis=1)
housing_modified_ocean = pd.concat([housing_modified, ocean_proximity_matrix], axis=1)
housing_modified_ocean.dropna(inplace=True)
housing_modified_ocean

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,0.0,0.0,0.0,1.0,0.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,0.0,0.0,0.0,1.0,0.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,0.0,0.0,0.0,1.0,0.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,0.0,0.0,0.0,1.0,0.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,0.0,1.0,0.0,0.0,0.0
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,0.0,1.0,0.0,0.0,0.0
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,0.0,1.0,0.0,0.0,0.0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,0.0,1.0,0.0,0.0,0.0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,0.0,1.0,0.0,0.0,0.0

In [11]:
X = housing_modified_ocean.copy() 
X.drop(columns = ['median_house_value'])

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,0.0,0.0,0.0,1.0,0.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,0.0,0.0,0.0,1.0,0.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,0.0,0.0,0.0,1.0,0.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,0.0,0.0,0.0,1.0,0.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,0.0,1.0,0.0,0.0,0.0
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,0.0,1.0,0.0,0.0,0.0
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,0.0,1.0,0.0,0.0,0.0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,0.0,1.0,0.0,0.0,0.0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,0.0,1.0,0.0,0.0,0.0

In [12]:
y = housing_modified_ocean['median_house_value'].copy()
y.info()

<class 'pandas.core.series.Series'>
Index: 19475 entries, 0 to 20639
Series name: median_house_value
Non-Null Count  Dtype
--------------  -----
19475 non-null  float64
dtypes: float64(1)
memory usage: 304.3 KB

In [21]:
y.describe()

count     19475.000000
mean     192444.651913
std       97702.625782
min       14999.000000
25%      116500.000000
50%      173800.000000
75%      248100.000000
max      500000.000000
Name: median_house_value, dtype: float64

In [14]:
y

0        452600.0
1        358500.0
2        352100.0
3        341300.0
4        342200.0
           ...
20635     78100.0
20636     77100.0
20637     92300.0
20638     84700.0
20639     89400.0
Name: median_house_value, Length: 19475, dtype: float64

In [15]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19475 entries, 0 to 20639
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           19475 non-null  float64
 1   latitude            19475 non-null  float64
 2   housing_median_age  19475 non-null  float64
 3   total_rooms         19475 non-null  float64
 4   total_bedrooms      19475 non-null  float64
 5   population          19475 non-null  float64
 6   households          19475 non-null  float64
 7   median_income       19475 non-null  float64
 8   median_house_value  19475 non-null  float64
 9   <1H OCEAN           19475 non-null  float64
 10  INLAND              19475 non-null  float64
 11  ISLAND              19475 non-null  float64
 12  NEAR BAY            19475 non-null  float64
 13  NEAR OCEAN          19475 non-null  float64
dtypes: float64(14)
memory usage: 2.2 MB

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [17]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# EDA
-- Describe why we do this

In [ ]:
# Overview of the data
housing

In [ ]:
# Display information about housing data.
# "We found that the data has missing values in the column 'total_bedrooms'"
# Drop null data, as it is 1%.....
housing.info()

In [ ]:
# Why??
housing.hist(bins=50, figsize=(20, 15))
print()

In [18]:
housing_modified_ocean.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
count,19475.000000,19475.000000,19475.000000,19475.000000,19475.000000,19475.000000,19475.000000,19475.000000,19475.000000,19475.000000,19475.000000,19475.000000,19475.000000,19475.000000
mean,-119.564306,35.653372,28.378074,2620.491142,539.645751,1440.290732,501.093504,3.676739,192444.651913,0.436714,0.332169,0.000257,0.106650,0.124211
std,2.006241,2.150250,12.515373,2184.938093,422.413200,1144.399323,383.206416,1.569263,97702.625782,0.495991,0.471004,0.016021,0.308675,0.329830
min,-124.350000,32.540000,1.000000,2.000000,2.000000,3.000000,2.000000,0.499900,14999.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,-121.760000,33.930000,18.000000,1441.000000,297.000000,796.000000,282.000000,2.526500,116500.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,-118.500000,34.270000,28.000000,2111.000000,436.000000,1178.000000,411.000000,3.451900,173800.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,-117.990000,37.730000,37.000000,3118.000000,648.000000,1743.000000,606.000000,4.583300,248100.000000,1.000000,1.000000,0.000000,0.000000,0.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500000.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
# Placing all the data in "df" so I can make a nice correlation plot
df = housing_modified_ocean.copy()
df["price"] = housing_modified_ocean['median_house_value']
df.drop(columns=['median_house_value'], inplace=True)

correlation_matrix = df.corr()
fig, ax = plt.subplots(figsize=(10,10))   
ax = sns.heatmap(correlation_matrix, annot=True, linewidths=.5, ax=ax)

In [ ]:
california_img=mpimg.imread('california.png')
ax = housing.plot(kind="scatter", x="longitude", y="latitude", figsize=(10,7),
                       s=housing['population']/100, label="Population",
                       c="median_house_value", cmap=plt.get_cmap("jet"),
                       colorbar=False, alpha=0.4,
                      )
plt.imshow(california_img, extent=[-124.55, -113.80, 32.45, 42.05], alpha=0.5)
plt.ylabel("Latitude", fontsize=14)
plt.xlabel("Longitude", fontsize=14)

prices = housing["median_house_value"]
tick_values = np.linspace(prices.min(), prices.max(), 11)
cbar = plt.colorbar()
cbar.set_label('Median House Value', fontsize=16)
cbar.ax.set_yticklabels(["$%dk"%(round(v/1000)) for v in tick_values], fontsize=14)


plt.legend(fontsize=16)
plt.show()

In [ ]:
# Modellen kan inte predikta Ã¶ver 500 000, linjen lÃ¤ngst upp... (om man anvÃ¤nde housing)

fig, ax = plt.subplots(figsize=(10, 7))
ax.scatter(housing_clean['median_income'], housing_clean['median_house_value'], alpha=1)
ax.set_ylabel('Median house value', labelpad=15, fontweight='bold')
ax.set_xlabel('Median income', labelpad=15, fontweight='bold')
 
correlation = np.corrcoef(housing_clean['median_income'], housing_clean['median_house_value'])
print(f' The correlation coefficient between median house value and median income is {round(correlation[1][0], 4)}')

In [ ]:
# Modellen kan inte predikta Ã¶ver 500 000, linjen lÃ¤ngst upp... (om man anvÃ¤nde housing)

fig, ax = plt.subplots(figsize=(10, 7))
ax.scatter(housing_clean['total_rooms'], housing_clean['median_house_value'], alpha=1)
ax.set_ylabel('Median house value', labelpad=15, fontweight='bold')
ax.set_xlabel('Total rooms', labelpad=15, fontweight='bold')
 
correlation = np.corrcoef(housing_clean['total_rooms'], housing_clean['median_house_value'])
print(f' The correlation coefficient between median house value and total rooms is {round(correlation[1][0], 4)}')

## Model Selection

1. Linear Regression 
2. Lasso 
3. Random Forest Regression
4. BeslutstrÃ¤d
5. SVM
6. Extra Tree

In [22]:
y_train.describe()

count     15580.000000
mean     192150.461874
std       97522.058825
min       14999.000000
25%      116300.000000
50%      173900.000000
75%      246600.000000
max      500000.000000
Name: median_house_value, dtype: float64

In [35]:
# mean from y_train.describe(), 192150.461874
# fit_intercept=False -> If set to False, no intercept will be used in calculations (i.e. data is expected to be centered).
lin_reg = LinearRegression(fit_intercept=False)

scores_lr = cross_validate(lin_reg, X_train_scaled, y_train, cv=3, scoring = 'neg_mean_squared_error')["test_score"]
print('RMSE for each iteration:', np.sqrt(-scores_lr))
print('RMSE:', np.sqrt(np.mean(-scores_lr)))

RMSE for each iteration: [192357.85519619 192260.56540393 192491.9994763 ]
RMSE: 192370.16342414825

In [25]:
lasso = Lasso()
hyper_param_lasso = {'alpha':(0.01, 1, 2, 5, 10)}
lasso_reg = GridSearchCV(lasso, hyper_param_lasso, cv = 5)
lasso_reg.fit(X_train_scaled, y_train) 

print(lasso_reg.best_params_) 

scores_lasso = cross_validate(lasso_reg, X_train_scaled, y_train, cv=3, scoring = 'neg_mean_squared_error')["test_score"]

print('RMSE for each iteration:', np.sqrt(-scores_lasso))

print('RMSE:', np.sqrt(np.mean(-scores_lasso)))

{'alpha': 5}
RMSE for each iteration: [5.0362721  5.01854363 4.94710931]
RMSE: 5.000790183850082

In [31]:
forest = RandomForestRegressor()
param_grid = { 
    'n_estimators': [10, 100, 120],
    'max_depth' : [None, 10],
}
forest_reg = GridSearchCV(forest, param_grid=param_grid, cv= 5)
forest_reg.fit(X_train_scaled, y_train)

print(forest_reg.best_params_)

scores_forest = cross_validate(forest_reg, X_train_scaled, y_train, cv=3, scoring = 'neg_mean_squared_error')["test_score"]
print('RMSE for each iteration:', np.sqrt(-scores_forest))
print('RMSE:', np.sqrt(np.mean(-scores_forest)))

{'max_depth': None, 'n_estimators': 120}
RMSE for each iteration: [ 89.81033276  66.80216418 180.3002979 ]
RMSE: 122.52431382248037

In [32]:
forest = RandomForestRegressor()
param_grid = { 
    'n_estimators': [10, 100, 120],
    'max_depth' : [None, 5, 10],
}
forest_reg = GridSearchCV(forest, param_grid=param_grid, cv= 5)
forest_reg.fit(X_train_scaled, y_train)

print(forest_reg.best_params_)

scores_forest = cross_validate(forest_reg, X_train_scaled, y_train, cv=3, scoring = 'neg_mean_squared_error')["test_score"]
print('RMSE for each iteration:', np.sqrt(-scores_forest))
print('RMSE:', np.sqrt(np.mean(-scores_forest)))

{'max_depth': None, 'n_estimators': 100}
RMSE for each iteration: [144.61644776  67.99094734 185.48737354]
RMSE: 141.3532827406198